# Questão 01

### Carregue o dataset "Iris Dataset" e desenvolva um código que:

#### a - Conte o número de ocorrências de cada espécie na coluna species.

In [2]:
#importando as bibliotecas
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
#carregando o dataset iris com a biblioteca Seaborn
iris = sns.load_dataset("Iris")
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
#criando um dataframe com base no dataset carregado
iris_pd = pd.DataFrame(iris)
iris_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
#numero de ocorrências de cada espécie
species_counts = iris['species'].value_counts()
print(species_counts)

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

#### b - Filtre todas as linhas em que a largura da pétala (petal width) seja maior que a média dessa coluna.

In [8]:
#tirando a média da coluna petal_width
media_petal_width = iris['petal_width'].mean()
print(media_petal_width)

1.1993333333333336

In [9]:
#filtrar as linhas onde petal_width é maior que a média
linhas_filtradas = iris[iris['petal_width'] > media_petal_width]
print(linhas_filtradas)

     sepal_length  sepal_width  petal_length  petal_width     species
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

[90 rows x 5 columns]

#### c - Crie uma nova coluna chamada Petal_Area, que seja o produto entre petal length e petal width. Retorne o DataFrame final com as modificações.

In [10]:
#criar a nova coluna Petal_Area
iris['petal_area'] = iris['petal_length'] * iris['petal_width']
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species  \
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

     petal_area
0          0.28
1          0.28
2          0.26
3          0.30
4          0.28
..          ...
145       11.96
146        9.50
147       10.40
148       12.42
149        9.18

[150 rows x 6 columns]

# Questão 2

## Com o dataset "Global Superstore Dataset", escreva um código que:

#### a - Agrupe as vendas (Sales) por região (Region) e subcategoria (Sub-Category).

In [13]:
#carregando o dataset em csv
sales = pd.read_csv("superstore.csv")
print(sales)

              Category         City        Country Customer.ID  \
0      Office Supplies  Los Angeles  United States   LS-172304
1      Office Supplies  Los Angeles  United States   MV-174854
2      Office Supplies  Los Angeles  United States   CS-121304
3      Office Supplies  Los Angeles  United States   CS-121304
4      Office Supplies  Los Angeles  United States   AP-109154
...                ...          ...            ...         ...
51285  Office Supplies  Los Angeles  United States   AM-103604
51286  Office Supplies  Los Angeles  United States   AM-103604
51287  Office Supplies  Los Angeles  United States   HR-147704
51288  Office Supplies  Los Angeles  United States   RM-196754
51289  Office Supplies  Los Angeles  United States   FH-143654

          Customer.Name  Discount Market  记录数               Order.Date  \
0      Lycoris Saunders       0.0     US    1  2011-01-07 00:00:00.000
1         Mark Van Huff       0.0     US    1  2011-01-21 00:00:00.000
2          Chad Sievert       0.0     US    1  2011-08-05 00:00:00.000
3          Chad Sievert       0.0     US    1  2011-08-05 00:00:00.000
4        Arthur Prichep       0.0     US    1  2011-09-29 00:00:00.000
...                 ...       ...    ...  ...                      ...
51285    Alice McCarthy       0.2     US    1  2014-12-03 00:00:00.000
51286    Alice McCarthy       0.2     US    1  2014-12-03 00:00:00.000
51287    Hallie Redmond       0.2     US    1  2014-12-18 00:00:00.000
51288     Robert Marley       0.2     US    1  2014-12-25 00:00:00.000
51289      Fred Hopkins       0.2     US    1  2014-12-26 00:00:00.000

             Order.ID  ... Sales      Segment                Ship.Date  \
0      CA-2011-130813  ...    19     Consumer  2011-01-09 00:00:00.000
1      CA-2011-148614  ...    19     Consumer  2011-01-26 00:00:00.000
2      CA-2011-118962  ...    21     Consumer  2011-08-09 00:00:00.000
3      CA-2011-118962  ...   111     Consumer  2011-08-09 00:00:00.000
4      CA-2011-146969  ...     6     Consumer  2011-10-03 00:00:00.000
...               ...  ...   ...          ...                      ...
51285  CA-2014-109701  ...    69    Corporate  2014-12-04 00:00:00.000
51286  CA-2014-109701  ...     9    Corporate  2014-12-04 00:00:00.000
51287  CA-2014-106964  ...    12  Home Office  2014-12-21 00:00:00.000
51288  CA-2014-145219  ...    90  Home Office  2014-12-26 00:00:00.000
51289  CA-2014-121398  ...   154    Corporate  2014-12-30 00:00:00.000

            Ship.Mode  Shipping.Cost       State  Sub.Category  Year  \
0        Second Class           4.37  California         Paper  2011
1      Standard Class           0.94  California         Paper  2011
2      Standard Class           1.81  California         Paper  2011
3      Standard Class           4.59  California         Paper  2011
4      Standard Class           1.32  California         Paper  2011
...               ...            ...         ...           ...   ...
51285        Same Day           5.15  California       Binders  2014
51286        Same Day           0.44  California       Binders  2014
51287     First Class           0.31  California       Binders  2014
51288     First Class          15.95  California       Binders  2014
51289  Standard Class           9.59  California       Binders  2014

             Market2 weeknum
0      North America       2
1      North America       4
2      North America      32
3      North America      32
4      North America      40
...              ...     ...
51285  North America      49
51286  North America      49
51287  North America      51
51288  North America      52
51289  North America      52

[51290 rows x 27 columns]

In [14]:
#transformando em um dataframe
sales_pd = pd.DataFrame(sales)
sales_pd.head()

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,记录数,Order.Date,Order.ID,...,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,1,2011-01-07 00:00:00.000,CA-2011-130813,...,19,Consumer,2011-01-09 00:00:00.000,Second Class,4.37,California,Paper,2011,North America,2
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0.0,US,1,2011-01-21 00:00:00.000,CA-2011-148614,...,19,Consumer,2011-01-26 00:00:00.000,Standard Class,0.94,California,Paper,2011,North America,4
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,...,21,Consumer,2011-08-09 00:00:00.000,Standard Class,1.81,California,Paper,2011,North America,32
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,...,111,Consumer,2011-08-09 00:00:00.000,Standard Class,4.59,California,Paper,2011,North America,32
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.0,US,1,2011-09-29 00:00:00.000,CA-2011-146969,...,6,Consumer,2011-10-03 00:00:00.000,Standard Class,1.32,California,Paper,2011,North America,40

In [18]:
#verificando as colunas do dataframe
sales_pd.columns

Index(['Category', 'City', 'Country', 'Customer.ID', 'Customer.Name',
       'Discount', 'Market', '记录数', 'Order.Date', 'Order.ID', 'Order.Priority',
       'Product.ID', 'Product.Name', 'Profit', 'Quantity', 'Region', 'Row.ID',
       'Sales', 'Segment', 'Ship.Date', 'Ship.Mode', 'Shipping.Cost', 'State',
       'Sub.Category', 'Year', 'Market2', 'weeknum'],
      dtype='object')

In [19]:
#agrupando vendas(sales) por região (region e sub-categoria(sub-category)
vendas_agrupadas = sales_pd.groupby(['Region', 'Sub.Category'])['Sales'].sum().reset_index()
print(vendas_agrupadas)

     Region Sub.Category  Sales
0    Africa  Accessories  42178
1    Africa   Appliances  62196
2    Africa          Art  38433
3    Africa      Binders  22308
4    Africa    Bookcases  83457
..      ...          ...    ...
216    West        Paper  26664
217    West       Phones  98698
218    West      Storage  70540
219    West     Supplies  18126
220    West       Tables  84755

[221 rows x 3 columns]

#### b - Calcule o total de vendas e o lucro médio (Profit) para cada combinação de região e subcategoria.

In [20]:
dados_agregados = sales_pd.groupby(['Region', 'Sub.Category']).agg(
    Total_Sales = ('Sales', 'sum'),
    Lucro_Medio = ('Profit', 'mean')
).reset_index()

print(dados_agregados)

     Region Sub.Category  Total_Sales  Lucro_Medio
0    Africa  Accessories        42178    27.923198
1    Africa   Appliances        62196    25.138808
2    Africa          Art        38433     6.425288
3    Africa      Binders        22308     4.344402
4    Africa    Bookcases        83457    36.555704
..      ...          ...          ...          ...
216    West        Paper        26664    26.931636
217    West       Phones        98698    32.890768
218    West      Storage        70540    32.501211
219    West     Supplies        18126     9.073138
220    West       Tables        84755    12.781097

[221 rows x 4 columns]

#### c - Filtre apenas as combinações onde o lucro médio seja positivo.

In [23]:
#Filtrar apenas as combinações com lucro médio positivo
lucro_positivo = dados_agregados[dados_agregados['Lucro_Medio'] > 0]
print(lucro_positivo)

     Region Sub.Category  Total_Sales  Lucro_Medio
0    Africa  Accessories        42178    27.923198
1    Africa   Appliances        62196    25.138808
2    Africa          Art        38433     6.425288
3    Africa      Binders        22308     4.344402
4    Africa    Bookcases        83457    36.555704
..      ...          ...          ...          ...
216    West        Paper        26664    26.931636
217    West       Phones        98698    32.890768
218    West      Storage        70540    32.501211
219    West     Supplies        18126     9.073138
220    West       Tables        84755    12.781097

[199 rows x 4 columns]

#### d - Ordene o resultado por região e lucro médio em ordem decrescente. Retorne o DataFrame final.

In [25]:
#Ordenar por Região e Lucro Médio em ordem decrescente
dados_ordenados = lucro_positivo.sort_values(
    by=['Region', 'Lucro_Medio'], ascending=[True, False]
)

# Exibir o DataFrame final
print(dados_ordenados)

     Region Sub.Category  Total_Sales  Lucro_Medio
16   Africa       Tables        34531   108.396892
6    Africa      Copiers        96257    68.003068
13   Africa       Phones       114830    66.520917
4    Africa    Bookcases        83457    36.555704
11   Africa     Machines        69109    28.734855
..      ...          ...          ...          ...
209    West       Chairs       101786    19.456929
220    West       Tables        84755    12.781097
206    West          Art         9214     9.496388
219    West     Supplies        18126     9.073138
212    West    Fasteners          923     3.822093

[199 rows x 4 columns]

# Questão 3

## Usando o dataset "Titanic - Machine Learning from Disaster", escreva um código que:

#### a - Preencha os valores ausentes na coluna Age com a média das idades.

In [27]:
#carregando o dataset do titanic pelo seaborn
titanic = sns.load_dataset('titanic')
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

In [29]:
#Calcular a média da coluna 'Age'
age_mean = titanic['age'].mean()

#Preencher os valores ausentes na coluna 'Age' com a média
titanic['age'] = titanic['age'].fillna(age_mean)
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          891 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

#### b - Crie uma nova coluna chamada Fare_Per_Age, que seja o valor da tarifa (Fare) dividido pela idade do passageiro.

In [31]:
titanic['Fare_Per_Age'] = titanic['fare'] / titanic['age']
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  Fare_Per_Age
0    man        True  NaN  Southampton    no  False      0.329545
1  woman       False    C    Cherbourg   yes  False      1.875876
2  woman       False  NaN  Southampton   yes   True      0.304808
3  woman       False    C  Southampton   yes  False      1.517143
4    man        True  NaN  Southampton    no   True      0.230000

#### c - Filtre apenas os passageiros da classe 1 (Pclass == 1) cujo valor de Fare_Per_Age esteja acima do terceiro quartil dessa coluna. Retorne o DataFrame resultante.

In [33]:
#Calcular o terceiro quartil (Q3) da coluna 'Fare_Per_Age'
terceiro_quartil = titanic['Fare_Per_Age'].quantile(0.75)

In [34]:
#Filtrar os passageiros da classe 1 cujo 'Fare_Per_Age' está acima do terceiro quartil
filtered_data = titanic[(titanic['pclass'] == 1) & (titanic['Fare_Per_Age'] > terceiro_quartil)]
print(filtered_data)

     survived  pclass     sex        age  sibsp  parch      fare embarked  \
1           1       1  female  38.000000      1      0   71.2833        C
3           1       1  female  35.000000      1      0   53.1000        S
27          0       1    male  19.000000      3      2  263.0000        S
31          1       1  female  29.699118      1      0  146.5208        C
34          0       1    male  28.000000      1      0   82.1708        C
..        ...     ...     ...        ...    ...    ...       ...      ...
853         1       1  female  16.000000      0      1   39.4000        S
856         1       1  female  45.000000      1      1  164.8667        S
867         0       1    male  31.000000      0      0   50.4958        S
879         1       1  female  56.000000      0      1   83.1583        C
887         1       1  female  19.000000      0      0   30.0000        S

     class    who  adult_male deck  embark_town alive  alone  Fare_Per_Age
1    First  woman       False    C    Cherbourg   yes  False      1.875876
3    First  woman       False    C  Southampton   yes  False      1.517143
27   First    man        True    C  Southampton    no  False     13.842105
31   First  woman       False    B    Cherbourg   yes  False      4.933507
34   First    man        True  NaN    Cherbourg    no  False      2.934671
..     ...    ...         ...  ...          ...   ...    ...           ...
853  First  woman       False    D  Southampton   yes  False      2.462500
856  First  woman       False  NaN  Southampton   yes  False      3.663704
867  First    man        True    A  Southampton    no   True      1.628897
879  First  woman       False    C    Cherbourg   yes  False      1.484970
887  First  woman       False    B  Southampton   yes   True      1.578947

[127 rows x 16 columns]

# Questão 4

#### a - Calcule a média de preço (price) por bairro (neighbourhood_group).

#### b - Filtre os bairros onde o preço médio seja maior que a média geral do dataset.

#### c - Crie uma nova coluna chamada Price_Per_Room, que divida o preço pelo número de quartos (minimum_nights).

#### d - Encontre o bairro com o maior valor médio de Price_Per_Room.

#### e - Retorne o nome do bairro e o valor médio correspondente.

# Questão 5

## Utilize o dataset "World Happiness Report" e escreva um código que:

#### a - agrupe os países por continente e calcule a média de Happiness Score e GDP per Capita;

#### b - crie uma nova coluna chamada Happiness_to_GDP_Ratio, que seja a razão entre o Happiness Score e o GDP per Capita;

#### c - filtre os continentes onde a razão média seja maior que 1;

#### d - ordene os resultados por Happiness_to_GDP_Ratio em ordem decrescente;

#### e - retorne o Dataframe Final